<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header(~{::title})">
	<title>University: Groups</title>
</head>
<body>

<div th:replace="layout :: renameModal"></div>

<div th:replace="layout :: deleteModal"></div>

<div th:replace="layout :: newItemModal"></div>

<div th:replace="layout :: scheduleFormFilterManagement"></div>

<div th:replace="layout :: scheduleFormManagement"></div>

<div th:replace="layout :: navbar"></div>

<div class="container">
	<div class="row align-items-center">
		<div class="col">

			<!-- Alert Success -->
			<div class="alert alert-dismissible alert-success" th:if="${!successAlert.isEmpty()}">
				<button class="close" data-dismiss="alert" type="button">&times;</button>
				<h4 class="alert-heading">
					<i class="fas fa-check-circle"></i>
					Done!
				</h4>
				<p class="mb-0" th:text="${successAlert}">Message</p>
			</div>

			<!-- Alert Error -->
			<div class="alert alert-dismissible alert-danger" th:if="${!errorAlert.isEmpty()}">
				<button class="close" data-dismiss="alert" type="button">&times;</button>
				<h4 class="alert-heading">
					<i class="fas fa-exclamation-circle"></i>
					Error!
				</h4>
				<p class="mb-0" th:text="${errorAlert}">Message</p>
			</div>

			<h1>Groups
				<span class="text-body ml-4" data-target="#new-item-modal" data-toggle="modal" type="button">
					<h3 class="fas fa-plus-circle icon-hover" data-container="body" data-placement="right" data-toggle="tooltip"
					    title="Add new group"></h3>
				</span>
			</h1>
			<p class="text-muted">Click on a group to see its students</p>

			<!-- List of groups -->
			<div class="accordion shadow mb-3" id="groupList">

				<div th:each="group : ${groupedStudents}">
					<div class="schedule-row no-border">

						<button aria-controls="studentsGroup1" class="col list-group-item list-group-item-action btn"
						        data-target="#studentsGroup1"
						        data-toggle="collapse"
						        id="group1"
						        th:attr="data-target='#studentsGroup' + *{group.key.id},
					                 aria-controls='studentsGroup' + *{group.key.id}"
						        th:classappend="${group.key.id.toString() == editedId}? 'btn-success'"
						        th:id="'group' + *{group.key.id}"
						        type="button">
							<div>
								<span class="badge badge-pill badge-light" th:text="'ID: ' + *{group.key.id}">ID: 1</span>
								<span class="pl-2" th:text="*{group.key.name}">Name One</span>
								<small class="text-muted ml-4" th:text="|(*{group.value.size()} students)|">
									(30 students)
								</small>
							</div>
						</button>

						<button class="btn btn-outline-secondary toggle-button" data-id="1" data-target="#filtered-schedule-modal"
						        data-title="Name One" data-toggle="modal"
						        th:attr="data-title=${group.key.name}, data-id=${group.key.id}"
						        type="button">
							View schedule
						</button>

						<button class="btn btn-outline-warning toggle-button" data-rename-id="1" data-target="#rename-modal"
						        data-title="Name One" data-toggle="modal"
						        th:attr="data-title=${group.key.name}, data-rename-id=${group.key.id}"
						        type="button">
							Rename
						</button>

						<button class="btn btn-outline-danger toggle-button" data-delete-id="1" data-target="#delete-modal"
						        data-title="Name One" data-toggle="modal"
						        th:attr="data-title=${group.key.name}, data-delete-id=${group.key.id}"
						        type="button">
							Delete
						</button>

					</div>

					<div aria-labelledby="group1" class="collapse course-attendees-container list-group"
					     data-parent="#groupList"
					     id="studentsGroup1" th:attr="aria-labelledby='group' + *{group.key.id}"
					     th:id="'studentsGroup' + *{group.key.id}">

						<div class="schedule-row no-border my-2">

							<div class="col-6" th:each="student : ${group.value}">

								<div class="list-group-item d-flex justify-content-between">
									<div>
										<span class="badge badge-pill badge-light" th:text="|ID: *{student.id}|">ID: 1</span>
										<span class="pl-2" th:text="*{student.fullName}">Name One</span>
									</div>
									<div>
										<span class="badge badge-pill badge-secondary" th:text="*{student.group.name}">G-01</span>
									</div>
								</div>

							</div>

						</div>

					</div>

				</div>
			</div>

			<div class="my-3 text-muted">All active groups</div>

		</div>
	</div>
</div>

<div th:replace="layout :: scripts"></div>

</body>
</html>