<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header(~{::title})">
	<title>Timetable: Select Student</title>
</head>
<body>

<div th:replace="layout :: navbar"></div>

<div class="container">
	<div class="row align-items-center">
		<div class="col">

			<div class="alert alert-dismissible alert-warning" th:if="${!sessionExpired.isEmpty()}">
				<button class="close" data-dismiss="alert" type="button">&times;</button>
				<h4 class="alert-heading">
					<i class="fas fa-exclamation-circle"></i>
					Warning!
				</h4>
				<p class="mb-0" th:text="${sessionExpired}">Message</p>
			</div>

			<div class="alert alert-dismissible alert-danger" th:if="${!errorAlert.isEmpty()}">
				<button class="close" data-dismiss="alert" type="button">&times;</button>
				<h4 class="alert-heading">
					<i class="fas fa-exclamation-circle"></i>
					Error!
				</h4>
				<p class="mb-0" th:text="${errorAlert}">Message</p>
			</div>

			<h1>Select a student</h1>

			<div class="student-select-container shadow">
				<div class="list-group">

					<form action="" method="post" th:action="@{/timetable/students/list}">
						<div class="schedule-row no-border">

							<div class="col-6" th:each="student, index : ${students}">

								<input id="radioS" name="studentId" onchange="this.form.submit()" style="display: none" th:id="'student' + *{index}"
								       th:value="*{student.id}" type="radio"
								       value="id">
								<label class="list-group-item" for="radioS" th:for="'student' + *{index}">
									<span class="d-flex justify-content-between">
										<span>
											<span class="badge badge-pill badge-light" th:text="'ID: ' + *{student.id}">ID: 1</span>
											<span class="pl-2" th:text="*{student.fullName}">Name One</span>
										</span>
											<span class="badge badge-pill badge-secondary" th:text="*{student.group.name}">G-01</span>
									</span>
								</label>

							</div>

						</div>
					</form>

				</div>
			</div>

			<div class="my-3 text-muted">All active students</div>

		</div>
	</div>
</div>

<div th:replace="layout :: scripts"></div>

</body>
</html>