<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header(~{::title})">
	<title>Management: Schedule</title>
</head>
<body>

<!-- Change auditorium form modal -->
<div aria-hidden="true" aria-labelledby="change-auditorium-label" class="modal fade" id="change-auditorium-modal"
     role="dialog" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">

			<!--Header-->
			<div class="modal-header">
				<h5 class="modal-title" id="change-auditorium-label">
					<i class="fas fa-angle-double-right"></i>
					Change auditorium
				</h5>
				<button aria-label="Close" class="close" data-dismiss="modal" type="button">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<!--Body-->
			<div class="modal-body">

				<p>Pick from the list of available auditoriums to move this schedule occurrence (one-time change).</p>

				<form action="#" class="needs-validation" method="post"
				      novalidate th:action="@{/timetable/management/schedule/available}" th:object="${changeScheduleForm}">

					<div class="container">

						<div class="form-group row align-items-center">
							<label class="form-control-label col-sm-4" for="new-auditorium">New auditorium:</label>
							<div class="col-sm-8">
								<select class="custom-select" id="new-auditorium" name="auditoriumId" required>
									<option disabled hidden selected value="">Select new auditorium...</option>
									<option th:each="auditorium : ${auditoriums}" th:text="${auditorium.name}" th:value="${auditorium.id}"
									        value="1">G-01
									</option>
								</select>
								<div class="invalid-feedback">Auditorium required</div>
							</div>
						</div>

						<input name="scheduleId" th:value="${schedule.id}" type="hidden" value="">

						<!--Submit-->

						<div class="modal-footer">
							<button class="btn btn-outline-primary" type="submit">Move</button>
						</div>

					</div>
				</form>
			</div>

		</div>
	</div>
</div>

<!-- Substitute professor form modal -->
<div aria-hidden="true" aria-labelledby="substitute-professor-label" class="modal fade" id="substitute-professor-modal"
     role="dialog" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">

			<!--Header-->
			<div class="modal-header">
				<h5 class="modal-title" id="substitute-professor-label">
					<i class="fas fa-chalkboard-teacher"></i>
					Substitute professor
				</h5>
				<button aria-label="Close" class="close" data-dismiss="modal" type="button">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<!--Body-->
			<div class="modal-body">

				<p>Pick from the list of available professors to substitute this schedule occurrence (one-time change).</p>

				<form action="#" class="needs-validation" method="post"
				      novalidate th:action="@{/timetable/management/schedule/available}" th:object="${changeScheduleForm}">

					<div class="container">

						<div class="form-group row align-items-center">
							<label class="form-control-label col-sm-4" for="new-professor">New professor:</label>
							<div class="col-sm-8">
								<select class="custom-select" id="new-professor" name="professorId" required>
									<option disabled hidden selected value="">Select new professor...</option>
									<option th:each="professor : ${professors}" th:text="${professor.fullName}" th:value="${professor.id}"
									        value="1">Professor name
									</option>
								</select>
								<div class="invalid-feedback">Professor required</div>
							</div>
						</div>

						<input name="scheduleId" th:value="${schedule.id}" type="hidden" value="">

						<!--Submit-->

						<div class="modal-footer">
							<button class="btn btn-outline-primary" type="submit">Substitute</button>
						</div>

					</div>
				</form>
			</div>

		</div>
	</div>
</div>

<!-- Change professor and auditorium form modal -->
<div aria-hidden="true" aria-labelledby="change-schedule-label" class="modal fade" id="change-schedule-modal"
     role="dialog" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">

			<!--Header-->
			<div class="modal-header">
				<h5 class="modal-title" id="change-schedule-label">
					<i class="fas fa-edit"></i>
					Change professor and auditorium
				</h5>
				<button aria-label="Close" class="close" data-dismiss="modal" type="button">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<!--Body-->
			<div class="modal-body">

				<p>Pick from the list of available professors and auditoriums to edit this schedule occurrence (one-time
					change).</p>

				<form action="#" class="needs-validation" method="post"
				      novalidate th:action="@{/timetable/management/schedule/available}" th:object="${changeScheduleForm}">

					<div class="container">

						<div class="form-group row align-items-center">
							<label class="form-control-label col-sm-4" for="new-professor">New professor:</label>
							<div class="col-sm-8">
								<select class="custom-select" id="new-professor" name="professorId" required>
									<option disabled hidden selected value="">Select new professor...</option>
									<option th:each="professor : ${professors}" th:text="${professor.fullName}" th:value="${professor.id}"
									        value="1">Professor name
									</option>
								</select>
								<div class="invalid-feedback">Professor required</div>
							</div>
						</div>

						<div class="form-group row align-items-center">
							<label class="form-control-label col-sm-4" for="new-auditorium">New auditorium:</label>
							<div class="col-sm-8">
								<select class="custom-select" id="new-auditorium" name="auditoriumId" required>
									<option disabled hidden selected value="">Select new auditorium...</option>
									<option th:each="auditorium : ${auditoriums}" th:text="${auditorium.name}" th:value="${auditorium.id}"
									        value="1">G-01
									</option>
								</select>
								<div class="invalid-feedback">Auditorium required</div>
							</div>
						</div>

						<input name="scheduleId" th:value="${schedule.id}" type="hidden" value="">

						<!--Submit-->

						<div class="modal-footer">
							<button class="btn btn-outline-primary" type="submit">Change</button>
						</div>

					</div>
				</form>
			</div>

		</div>
	</div>
</div>

<div th:replace="layout :: scheduleFormManagement"></div>

<div th:replace="layout :: navbar"></div>

<div class="container">
	<div class="row align-items-center">
		<div class="col">

			<!-- Alert Success -->
			<div class="alert alert-dismissible alert-success" th:if="${!successAlert.isEmpty()}">
				<button class="close" data-dismiss="alert" type="button">&times;</button>
				<h4 class="alert-heading">
					<i class="fas fa-check-circle"></i>
					Done!
				</h4>
				<p class="mb-0" th:text="${successAlert}">Message</p>
			</div>

			<!-- Alert Error -->
			<div class="alert alert-dismissible alert-danger" th:if="${!errorAlert.isEmpty()}">
				<button class="close" data-dismiss="alert" type="button">&times;</button>
				<h4 class="alert-heading">
					<i class="fas fa-exclamation-circle"></i>
					Error!
				</h4>
				<p class="mb-0" th:text="${errorAlert}">Message</p>
			</div>

			<h3>Schedule item:</h3>
			<div class="row align-items-center">
				<div class="col-8">
					<div class="row">
						<div class="col-3">
							<span>Date:</span>
						</div>
						<div class="col">
							<span th:text="${@semesterCalendar.getDayDescription(schedule.date)}">Jan 01, 2020</span>
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<span>Day:</span>
						</div>
						<div class="col">
							<span th:text="${schedule.day}">Monday</span>
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<span>Period:</span>
						</div>
						<div class="col">
							<span th:text="${schedule.period.toString()}">FIRST 08:30-09:45</span>
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<span>Auditorium:</span>
						</div>
						<div class="col">
							<span th:text="${schedule.auditorium.name}">A-01</span>
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<span>Course:</span>
						</div>
						<div class="col">
							<span th:text="${schedule.course.name}">Dark Magic Against Defense Against Dark Magic</span>
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<span>Group:</span>
						</div>
						<div class="col">
							<span th:text="${schedule.group.name}">G-01</span>
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<span>Professor:</span>
						</div>
						<div class="col">
							<span th:text="${schedule.professor.fullName}">Some really long professor name that might not fit</span>
						</div>
					</div>
				</div>
				<div class="col-4" th:unless="${professors.isEmpty()} or ${auditoriums.isEmpty()}">
					<button class="btn btn-outline-warning" data-target="#change-schedule-modal" data-toggle="modal"
					        type="button">
						Change both professor and auditorium
					</button>
				</div>
			</div>

			<!-- Professors -->
			<hr class="my-4">
			<h1>
				Available professors
				<button class="btn btn-outline-warning ml-4" data-target="#substitute-professor-modal" data-toggle="modal"
				        th:unless="${professors.isEmpty()}" type="button">
					Substitute
				</button>
			</h1>
			<hr class="my-2">

			<p th:if="${professors.isEmpty()}">None available for this period.</p>

			<!-- List of professors -->
			<div class="student-select-container shadow" th:unless="${professors.isEmpty()}">
				<div class="list-group">

					<!-- Each professor	-->
					<div class="schedule-row no-border" th:each="professor : ${professors}">

						<div class="col list-group-item d-flex justify-content-between">

							<div>
								<span class="badge badge-pill badge-light" th:text="'ID: ' + *{professor.id}">ID: 1</span>
								<span class="pl-2" th:text="*{professor.fullName}">Name One</span>
							</div>
						</div>

					</div>

				</div>
			</div>

			<!-- Auditoriums -->
			<hr class="my-4">
			<h1>
				Available auditoriums
				<button class="btn btn-outline-warning ml-4" data-target="#change-auditorium-modal" data-toggle="modal"
				        th:unless="${auditoriums.isEmpty()}" type="button">
					Move
				</button>
			</h1>
			<hr class="my-2">

			<p th:if="${auditoriums.isEmpty()}">None available for this period.</p>

			<!-- List of auditoriums -->
			<div class="student-select-container shadow" th:unless="${auditoriums.isEmpty()}">
				<div class="list-group">

					<!-- Each auditorium	-->
					<div class="schedule-row no-border" th:each="auditorium : ${auditoriums}">

						<div class="col list-group-item d-flex justify-content-between">

							<div>
								<span class="badge badge-pill badge-light" th:text="'ID: ' + *{auditorium.id}">ID: 1</span>
								<span class="pl-2" th:text="*{auditorium.name}">Name One</span>
							</div>
						</div>

					</div>

				</div>
			</div>


		</div>
	</div>
</div>

<div th:replace="layout :: scripts"></div>

</body>
</html>