<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>

<div class="day-schedule-container shadow rounded">
	<div class="schedule-row align-items-center">
		<div class="col-2">
			<span class="pl-4">8:15-9:45</span>
		</div>
		<div class="col-10">
			<ul class="list-group">
				<li class="list-group-item align-items-center">
					<div class="d-flex justify-content-between mb-1">
						<span class="badge badge-pill badge-primary">A-05</span>
						<span class="badge badge-pill badge-secondary">G-08</span>
					</div>
					<p class="text-muted mb-1"><small>Defense Against Dark Magic</small></p>
					<small>Nabonassar the Sneaky</small>
				</li>
			</ul>
		</div>
	</div>
	<div class="schedule-row align-items-center">
		<div class="col-2">
			<span class="pl-4">8:15-9:45</span>
		</div>
		<div class="col-10">
			<ul class="list-group">
				<li class="list-group-item align-items-center">
					<p class="text-muted mb-1"><small>No classes</small></p>
				</li>
			</ul>
		</div>
	</div>
</div>

</body>
</html>