<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="../static/images/favicon.ico" rel="icon">
	<link href="../static/bootstrap.css" rel="stylesheet">
	<link href="../static/bootstrap-datepicker.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>

	<title>Prototype</title>
</head>
<body>

<!-- Delete modal -->
<div th:fragment="deleteModal" class="modal fade" id="delete-modal" tabindex="-1" role="dialog"
     aria-labelledby="delete-label" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">

			<!--Header-->
			<div class="modal-header">
				<h5 id="delete-label" class="modal-title">
					<i class="fas fa-trash-alt"></i>
					Delete
					<span th:if="${#httpServletRequest.requestURI.contains('university/auditoriums')}">auditorium</span>
					<span th:if="${#httpServletRequest.requestURI.contains('university/groups')}">group</span>
					<span th:if="${#httpServletRequest.requestURI.contains('university/courses')}">course</span>
					<span th:if="${#httpServletRequest.requestURI.contains('university/faculty')}">professor</span>
					<span th:if="${#httpServletRequest.requestURI.contains('university/students')}">student</span>
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<!--Body-->
			<div class="modal-body">
				<h4 id="delete-title">Current name</h4>
				<p class="text-warning">
					NB: deleting this university item might cause deleting other related items where it is referenced! Proceed
					at your own risk and peril
				</p>
				<br>

			</div>

			<div class="modal-footer">
				<a class="btn btn-primary" href="#" id="delete-link"
				th:href="${#httpServletRequest.requestURI} + '/remove?id='">Confirm</a>
			</div>

		</div>
	</div>
</div>

<!-- Reschedule form modal -->
<div class="modal fade" id="reschedule-modal" tabindex="-1" role="dialog"
     aria-labelledby="reschedule-label" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">

			<!--Header-->
			<div class="modal-header">
				<h5 id="reschedule-label" class="modal-title">
					<i class="fas fa-calendar-times"></i>
					Reschedule
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<!--Body-->
			<div class="modal-body">

				<p>You can reschedule this schedule item once or permanently.</p>
				<p>Permanent rescheduling means that all further occurrences of this class with take place as
					specified by the rescheduling option you picked.</p>
				<p>Permanent rescheduling will trigger an update on all existing schedule items with the same week parity.</p>
				<p>Reschedule to <span id="reschedule-form-title">Jan 01, 2020, FIRST 08:15-09:45 period, A-03</span></p>

				<form class="needs-validation" action="#" th:action="@{/timetable/management/schedule/reschedule}"
				      th:object="${rescheduleForm}" method="post" novalidate>

					<div class="container">

						<div class="form-group">
							<div class="custom-control custom-radio">
								<input type="radio" id="management-schedule-radio1" name="scheduleOption" class="custom-control-input"
								       value="date" th:value="${T(com.foxminded.timetable.web.forms.ScheduleOption).DAY}"
								       th:field="*{scheduleOption}" checked required>
								<label class="custom-control-label" for="management-schedule-radio1">Once</label>
							</div>
						</div>

						<div class="form-group">
							<div class="custom-control custom-radio">
								<input type="radio" id="management-schedule-radio2" name="scheduleOption" class="custom-control-input"
								       value="week" th:value="${T(com.foxminded.timetable.web.forms.ScheduleOption).WEEK}"
								       th:field="*{scheduleOption}" required>
								<label class="custom-control-label" for="management-schedule-radio2">Permanently</label>
							</div>
						</div>

						<input type="hidden" name="scheduleId" value="" th:value="${schedule.id}">
						<input type="hidden" id="option-id" name="optionId" value="">

						<!--Submit-->

						<div class="modal-footer">
							<button type="submit" class="btn btn-outline-primary">Reschedule</button>
						</div>

					</div>
				</form>
			</div>

		</div>
	</div>
</div>

<!-- Management schedule form modal -->
<div th:fragment="scheduleFormManagement" class="modal fade" id="management-schedule-modal" tabindex="-1" role="dialog"
     aria-labelledby="management-schedule-label" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">

			<!--Header-->
			<div class="modal-header">
				<h5 id="management-schedule-label" class="modal-title">
					<i class="fas fa-calendar-alt"></i>
					Entire schedule viewing options
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<!--Body-->
			<div class="modal-body">
				<h4>Fall Semester</h4>
				<p th:text="${@semesterCalendar.getSemesterDescription()}">description</p>

				<form class="needs-validation" action="#" th:action="@{/management/schedule}" th:object="${scheduleForm}"
				      method="post" novalidate>

					<div class="container">

						<div class="row align-items-center">
							<div class="form-group col-sm-4">
								Range:
							</div>

							<div class="form-group col-sm-6">
								<div class="custom-control custom-radio">
									<input type="radio" id="management-schedule-radio1" name="scheduleOption" class="custom-control-input"
									       value="date" th:value="${T(com.foxminded.timetable.web.forms.ScheduleOption).DAY}"
									       th:field="*{scheduleOption}" checked required>
									<label class="custom-control-label" for="management-schedule-radio1">Specific date</label>
								</div>
								<br>
								<div class="custom-control custom-radio">
									<input type="radio" id="management-schedule-radio2" name="scheduleOption" class="custom-control-input"
									       value="week" th:value="${T(com.foxminded.timetable.web.forms.ScheduleOption).WEEK}"
									       th:field="*{scheduleOption}" required>
									<label class="custom-control-label" for="management-schedule-radio2">Semester week</label>
								</div>
								<br>
								<div class="custom-control custom-radio">
									<input type="radio" id="management-schedule-radio3" name="scheduleOption" class="custom-control-input"
									       value="month" th:value="${T(com.foxminded.timetable.web.forms.ScheduleOption).MONTH}"
									       th:field="*{scheduleOption}" required>
									<label class="custom-control-label" for="management-schedule-radio3">Entire month</label>
								</div>
							</div>
						</div>

						<div class="row align-items-center">
							<div class="form-group col-sm-4">
								Any date in range:
							</div>

							<div class="form-group col-sm-6">
								<input type="text" class="form-control" id="management-schedule-datepicker" name="date"
								       placeholder="Select a date" autocomplete="off" th:field="*{date}" required>
								<div class="invalid-feedback">
									Please choose a date
								</div>
							</div>
						</div>

					</div>

					<!--Submit-->

					<div class="modal-footer">
						<button type="submit" class="btn btn-outline-primary">Allons-y!</button>
					</div>

				</form>

			</div>

		</div>
	</div>
</div>

<!-- Find rescheduling options form modal -->
<div th:fragment="findReschedulingOptions" class="modal fade" id="find-rescheduling-options-modal"
     tabindex="-1" role="dialog"
     aria-labelledby="find-rescheduling-options-label" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">

			<!--Header-->
			<div class="modal-header">
				<h5 class="modal-title" id="find-rescheduling-options-label">
					<i class="fas fa-search"></i>
					Find rescheduling options
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<!--Body-->
			<div class="modal-body">
				<p>Look up rescheduling options for specific time-frame to reschedule once or permanently</p>
				<br>

				<form class="needs-validation" action="#"
				      th:action="@{/timetable/management/schedule/reschedule}"
				      th:object="${findReschedulingOptionsForm}" method="post" novalidate>

					<div class="container">

						<div class="row">
							<div class="form-group col-sm-4">
								Range:
							</div>

							<div class="form-group col-sm-6">
								<div class="custom-control custom-radio">
									<input type="radio" id="filtered-schedule-radio1" name="scheduleOption"
									       class="custom-control-input"
									       value="date" th:value="${T(com.foxminded.timetable.web.forms.ScheduleOption).DAY}"
									       th:field="*{rangeOption}" checked required>
									<label class="custom-control-label" for="filtered-schedule-radio1">Specific date</label>
								</div>
								<br>
								<div class="custom-control custom-radio">
									<input type="radio" id="filtered-schedule-radio2" name="scheduleOption" class="custom-control-input"
									       value="week" th:value="${T(com.foxminded.timetable.web.forms.ScheduleOption).WEEK}"
									       th:field="*{rangeOption}" required>
									<label class="custom-control-label" for="filtered-schedule-radio2">Semester week</label>
								</div>
								<br>
							</div>
						</div>

						<div class="row align-items-center">
							<div class="form-group col-sm-4">
								Date in range:
							</div>

							<div class="form-group col-sm-6">
								<input type="text" class="form-control" id="filter-schedule-datepicker" name="date"
								       placeholder="Select a date" autocomplete="off" th:field="*{date}" required>
								<div class="invalid-feedback">
									Please choose a date
								</div>
							</div>
						</div>

						<!-- Hidden input for filtering predicate in service, gets filled in by jquery script -->
						<input type="hidden" id="schedule-id" name="id" value="">
					</div>


					<!--Submit-->

					<div class="modal-footer">
						<button type="submit" class="btn btn-outline-primary">Find options</button>
					</div>

				</form>

			</div>

		</div>
	</div>
</div>

<!-- TOP navigation bar -->
<nav class="navbar shadow fixed-top navbar-expand-md navbar-dark bg-primary">

	<!--Role dropdown-->
	<div class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
			<img src="../static/images/favicon-32x32.png" width="30" height="30" class="d-inline-block align-top" alt="">
		</a>
		<div class="dropdown-menu">
			<a class="dropdown-item disabled" href="#">Tools for</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#" data-toggle="tooltip"
			   data-placement="right" data-container="body"
			   title="Student-specific schedule viewing options">Students</a>
			<a class="dropdown-item" href="#" data-toggle="tooltip"
			   data-placement="right" data-container="body"
			   title="Schedule and course viewing options for faculty">Faculty</a>
			<a class="dropdown-item" href="#" data-toggle="tooltip"
			   data-placement="right" data-container="body"
			   title="Full rage of university and timetable management tools">Management</a>
		</div>
	</div>

	<!--Brand-->
	<a class="navbar-brand" href="#">Timetable</a>

	<!--Role-->
	<span class="navbar-text flex-grow-1">for Prototype</span>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
	        aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<!--Menu Items-->
	<div class="collapse navbar-collapse navbar-nav mr-auto justify-content-end" id="navbar">


		<div class="nav-item">
			<a class="nav-link" href="#" data-toggle="modal"
			   data-target="#management-schedule-modal">Home</a>
		</div>

		<div class="nav-item dropdown active">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
			   aria-expanded="false">University
			</a>
			<div class="dropdown-menu" style="">
				<a class="dropdown-item" href="#">Students</a>
				<a class="dropdown-item" href="#">Faculty</a>
				<a class="dropdown-item" href="#">Auditoriums</a>
				<a class="dropdown-item" href="#">Courses</a>
				<a class="dropdown-item" href="#">Groups</a>
			</div>
		</div>

		<div class="nav-item">
			<a class="nav-link" href="#" data-toggle="modal"
			   data-target="#management-schedule-modal">Schedule for...</a>
		</div>

		<div class="nav-item">
			<a class="nav-link" href="#">Two-week schedule</a>
		</div>
	</div>
</nav>

<div class="container">
	<div class="row align-items-center">
		<div class="col">

			<!-- Alert Success -->
			<div th:if="${!successAlert.isEmpty()}" class="alert alert-dismissible alert-success">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<h4 class="alert-heading">
					<i class="fas fa-check-circle"></i>
					Done!
				</h4>
				<p th:text="${successAlert}" class="mb-0">Message</p>
			</div>

			<!-- Alert Error -->
			<div th:if="${!errorAlert.isEmpty()}" class="alert alert-dismissible alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<h4 class="alert-heading">
					<i class="fas fa-exclamation-circle"></i>
					Error!
				</h4>
				<p th:text="${errorAlert}" class="mb-0">Message</p>
			</div>

			<h1>Auditoriums
				<span type="button" class="text-body ml-4" data-toggle="modal" data-target="#new-item-modal">
					<h3 class="fas fa-plus-circle icon-hover" data-toggle="tooltip" data-placement="right" data-container="body"
					    title="Add new auditorium"></h3>
				</span>
			</h1>
			<p class="text-muted">Hover over each auditorium to see additional options</p>

			<!-- List of auditoriums -->
			<div class="student-select-container shadow">
				<div class="list-group">

					<!-- Each auditorium	-->
					<div th:each="auditorium : ${auditoriums}" class="schedule-row no-border">

						<div class="col list-group-item d-flex justify-content-between"
						     th:classappend="${auditorium.id.toString() == editedId}? 'btn-success'">

							<div>
								<span th:text="'ID: ' + *{auditorium.id}" class="badge badge-pill badge-light">ID: 1</span>
								<span th:text="*{auditorium.name}" class="pl-2">Name One</span>
							</div>
						</div>

						<button type="button" class="btn btn-outline-secondary toggle-button" data-toggle="modal"
						        data-target="#filtered-schedule-modal" data-title="Name One" data-id="1"
						        th:attr="data-title=${auditorium.name}, data-id=${auditorium.id}">
							View schedule
						</button>

						<button type="button" class="btn btn-outline-warning toggle-button" data-toggle="modal"
						        data-target="#rename-modal" data-title="Name One" data-rename-id="1"
						        th:attr="data-title=${auditorium.name}, data-rename-id=${auditorium.id}">
							Rename
						</button>

						<button type="button" class="btn btn-outline-danger toggle-button" data-toggle="modal"
						        data-target="#delete-modal" data-title="Name One" data-delete-id="1"
						        th:attr="data-title=${auditorium.name}, data-delete-id=${auditorium.id}">
							Delete
						</button>

					</div>

				</div>
			</div>

			<div class="my-3 text-muted">All active auditoriums</div>

		</div>
	</div>
</div>

<script th:fragment="scripts" type="text/javascript">

    // reschedule form injection
    $('#reschedule-modal').on('show.bs.modal', function (e) {

        let title = $(e.relatedTarget).data('title');
        let optionId = $(e.relatedTarget).data('option-id');

        $(e.currentTarget).find('#option-id').val(optionId);
        $(e.currentTarget).find('#reschedule-form-title').text(title);
    });

    // find rescheduling options injection
    $('#find-rescheduling-options-modal').on('shown.bs.modal', function (e) {

        let scheduleId = $(e.relatedTarget).data('schedule-id');
        $(e.currentTarget).find('#schedule-id').val(scheduleId);
    });

    // find available data injection
    $('#find-available').on('show.bs.modal', function (e) {
        let title = $(e.relatedTarget).data('find-available-title');
        let date = $(e.relatedTarget).data('find-available-date');
        let period = $(e.relatedTarget).data('find-available-period');

        $(e.currentTarget).find('#find-available-title').text(title);

        $(e.currentTarget).find('#find-available-date').val(date);
        $(e.currentTarget).find('#find-available-period').val(period);
    });

    // rename modal data injection
    $('#rename-modal').on('show.bs.modal', function (e) {
        let title = $(e.relatedTarget).data('title');
        let renameId = $(e.relatedTarget).data('rename-id');

        $(e.currentTarget).find('#rename-title').text(title);

        $(e.currentTarget).find('#rename-id').val(renameId);
    });

    // delete modal data injection
    $('#delete-modal').on('show.bs.modal', function (e) {
        let title = $(e.relatedTarget).data('title');
        let deleteId = $(e.relatedTarget).data('delete-id');

        $(e.currentTarget).find('#delete-title').text(title);

        let href = $(e.currentTarget).find('#delete-link').attr('href');
        $(e.currentTarget).find('#delete-link').attr('href', href + deleteId);
    });

    // drop course modal data injection
    $('#drop-course-modal').on('show.bs.modal', function (e) {
        let title = $(e.relatedTarget).data('title');
        let professorId = $(e.relatedTarget).data('professor-id');
        let courseId = $(e.relatedTarget).data('course-id');

        $(e.currentTarget).find('#drop-course-title').text(title);

        $(e.currentTarget).find('#drop-course-professor-id').val(professorId);
        $(e.currentTarget).find('#drop-course-course-id').val(courseId);
    });

    // filtered schedule modal data injection
    $('#filtered-schedule-modal').on('shown.bs.modal', function (e) {
        let title = $(e.relatedTarget).data('title');
        let id = $(e.relatedTarget).data('id');

        $(e.currentTarget).find('#filter-schedule-title').text(title);

        $(e.currentTarget).find('#filtered-schedule-hidden-id').val(id);
    });

    // change group modal data injection
    $('#change-group-modal').on('show.bs.modal', function (e) {
        let title = $(e.relatedTarget).data('title');
        $(e.currentTarget).find('#change-group-title').text(title);

        let studentId = $(e.relatedTarget).data('student-id');
        $(e.currentTarget).find('#change-group-student-id').val(studentId);

        let groupId = $(e.relatedTarget).data('group-id');
        $(e.currentTarget).find("select option").each(function () {
            let $thisOption = $(this);

            if ($thisOption.val() == groupId) {
                $thisOption.attr("disabled", "disabled");
            } else {
                $thisOption.removeAttr("disabled");
            }
        });
    });

    // datepicker
    $(document).ready(function () {
        $('#filter-schedule-datepicker, #management-schedule-datepicker').datepicker({
            autoclose: true,
            weekStart: '1',
            format: 'yyyy-mm-dd',
            daysOfWeekDisabled: [0, 6],
            startDate: '2020-09-07',
            endDate: '2020-12-11'
        });
    });

    // tooltips
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    // validation
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

</body>
</html>