<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header(~{::title})">
	<title>Student: Schedule</title>
</head>
<body>

<div th:replace="layout :: modal"></div>

<div th:replace="layout :: navbarStudent"></div>

<div class="container">
	<div class="row align-items-center">
		<div class="col">

			<h1 th:text="${student.fullName} + ' (' + ${student.group.name} + ')'">Hello, student!</h1>

			<hr class="my-4">

			<h1 th:text="${filtered}? 'Your schedule' : 'Entire schedule'">Schedule</h1>
			<h6>For [[${date}]]</h6>
			<p th:text="${daySchedule.isEmpty()}? 'No classes!' : _" class="text-warning"></p>

			<div th:replace="layout :: daySchedule"></div>

		</div>
	</div>
</div>

<div th:replace="layout :: scripts"></div>

</body>
</html>