<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>


<div class="container">
	<div class="row align-items-center">
		<div class="col">


			<h1>Two-week schedule</h1>
			<h6>Fall Semester (Sept. 7 - Dec. 11, 2020)</h6>
			<hr class="my-4">
			<!--Header-->
			<div class="schedule-row schedule-header shadow">

				<div class="col-1">Period</div>
				<div class="col">MON</div>
				<div class="col">TUE</div>
				<div class="col">WED</div>
				<div class="col">THU</div>
				<div class="col">FRI</div>
			</div>
			<!--Odd-->
			<div class="schedule-container shadow rounded">
				<div class="row schedule-background">
					<span class="col-12">O</span>
					<span class="col-12">d</span>
					<span class="col-12">d</span>
				</div>

				<div class="schedule-body">
					<!--First-->
					<div class="schedule-row">
						<div class="schedule-period col-1"><span>8:15-9:45</span></div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-02</span>
										<span class="badge badge-pill badge-secondary">G-02</span>
									</div>
									<p class="text-muted mb-1"><small>Dark Magic Against Defense Against Dark Magic</small></p>
									<small>Shushushi Footsticker</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-03</span>
										<span class="badge badge-pill badge-secondary">G-04</span>
									</div>
									<p class="text-muted mb-1"><small>Theoretical Camel Tracking</small></p>
									<small>Esarhaddon the Gracious</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-05</span>
										<span class="badge badge-pill badge-secondary">G-08</span>
									</div>
									<p class="text-muted mb-1"><small>Defense Against Dark Magic</small></p>
									<small>Nabonassar the Sneaky</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-04</span>
										<span class="badge badge-pill badge-secondary">G-01</span>
									</div>
									<p class="text-muted mb-1"><small>Scientology</small></p>
									<small>Shalmaneser the II</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-05</span>
										<span class="badge badge-pill badge-secondary">G-03</span>
									</div>
									<p class="text-muted mb-1"><small>DB Sanitation'); DROP TABLE students; --</small></p>
									<small>Nabonassar the Sneaky</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-05</span>
										<span class="badge badge-pill badge-secondary">G-03</span>
									</div>
									<p class="text-muted mb-1"><small>Dark Magic Against Defense Against Dark Magic</small></p>
									<small>Shushushi Footsticker</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-02</span>
										<span class="badge badge-pill badge-secondary">G-01</span>
									</div>
									<p class="text-muted mb-1"><small>DB Sanitation'); DROP TABLE students; --</small></p>
									<small>Nabonassar the Sneaky</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-04</span>
										<span class="badge badge-pill badge-secondary">G-09</span>
									</div>
									<p class="text-muted mb-1"><small>Applied Polyandry</small></p>
									<small>Shalmaneser the II</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-05</span>
										<span class="badge badge-pill badge-secondary">G-05</span>
									</div>
									<p class="text-muted mb-1"><small>Dark Magic Against Defense Against Dark Magic</small></p>
									<small>Shushushi Footsticker</small>
								</li>
							</ul>
						</div>
					</div>

					<!--Second-->
					<div class="schedule-row">
						<div class="schedule-period col-1"><span>10:00-11:30</span></div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-01</span>
										<span class="badge badge-pill badge-secondary">G-06</span>
									</div>
									<p class="text-muted mb-1"><small>Demagoguery</small></p>
									<small>Esarhaddon the Wisdomous</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-03</span>
										<span class="badge badge-pill badge-secondary">G-02</span>
									</div>
									<p class="text-muted mb-1"><small>DB Sanitation'); DROP TABLE students; --</small></p>
									<small>Nabonassar the Sneaky</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-04</span>
										<span class="badge badge-pill badge-secondary">G-10</span>
									</div>
									<p class="text-muted mb-1"><small>Scientology</small></p>
									<small>Shalmaneser the II</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-05</span>
										<span class="badge badge-pill badge-secondary">G-09</span>
									</div>
									<p class="text-muted mb-1"><small>Theoretical Camel Tracking </small></p>
									<small>Esarhaddon the Gracious</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-04</span>
										<span class="badge badge-pill badge-secondary">G-10</span>
									</div>
									<p class="text-muted mb-1"><small>Applied Polyandry</small></p>
									<small>Shalmaneser the II</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-05</span>
										<span class="badge badge-pill badge-secondary">G-07</span>
									</div>
									<p class="text-muted mb-1"><small>Demagoguery</small></p>
									<small>Esarhaddon the Wisdomous</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-04</span>
										<span class="badge badge-pill badge-secondary">G-04</span>
									</div>
									<p class="text-muted mb-1"><small>Modern Sand Castle Architecture</small></p>
									<small>Esarhaddon the Wisdomous</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-02</span>
										<span class="badge badge-pill badge-secondary">G-07</span>
									</div>
									<p class="text-muted mb-1"><small>Theoretical Camel Tracking</small></p>
									<small>Esarhaddon the Gracious</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-02</span>
										<span class="badge badge-pill badge-secondary">G-10</span>
									</div>
									<p class="text-muted mb-1"><small>Modern Sand Castle Architecture</small></p>
									<small>Esarhaddon the Wisdomous</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-03</span>
										<span class="badge badge-pill badge-secondary">G-03</span>
									</div>
									<p class="text-muted mb-1"><small>Dark Magic</small></p>
									<small>Esarhaddon the Gracious</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-05</span>
										<span class="badge badge-pill badge-secondary">G-07</span>
									</div>
									<p class="text-muted mb-1"><small>Defense Against Dark Magic</small></p>
									<small>Nabonassar the Sneaky</small>
								</li>
							</ul>
						</div>
					</div>

					<!--Third-->
					<div class="schedule-row">
						<div class="schedule-period col-1"><span>12:30-14:00</span></div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-03</span>
										<span class="badge badge-pill badge-secondary">G-03</span>
									</div>
									<p class="text-muted mb-1"><small>Defense Against Dark Magic</small></p>
									<small>Nabonassar the Sneaky</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-05</span>
										<span class="badge badge-pill badge-secondary">G-02</span>
									</div>
									<p class="text-muted mb-1"><small>Procrastination101</small></p>
									<small>Shushushi Footsticker</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-01</span>
										<span class="badge badge-pill badge-secondary">G-08</span>
									</div>
									<p class="text-muted mb-1"><small>DB Sanitation'); DROP TABLE students; --</small></p>
									<small>Nabonassar the Sneaky</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-04</span>
										<span class="badge badge-pill badge-secondary">G-05</span>
									</div>
									<p class="text-muted mb-1"><small>Modern Sand Castle Architecture</small></p>
									<small>Esarhaddon the Wisdomous</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-01</span>
										<span class="badge badge-pill badge-secondary">G-08</span>
									</div>
									<p class="text-muted mb-1"><small>Dark Magic Against Defense Against Dark Magic</small></p>
									<small>Shushushi Footsticker</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-02</span>
										<span class="badge badge-pill badge-secondary">G-02</span>
									</div>
									<p class="text-muted mb-1"><small>Defense Against Dark Magic</small></p>
									<small>Nabonassar the Sneaky</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-04</span>
										<span class="badge badge-pill badge-secondary">G-08</span>
									</div>
									<p class="text-muted mb-1"><small>Modern Sand Castle Architecture</small></p>
									<small>Esarhaddon the Wisdomous</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-05</span>
										<span class="badge badge-pill badge-secondary">G-05</span>
									</div>
									<p class="text-muted mb-1"><small>Scientology</small></p>
									<small>Shalmaneser the II</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-01</span>
										<span class="badge badge-pill badge-secondary">G-02</span>
									</div>
									<p class="text-muted mb-1"><small>Dark Magic</small></p>
									<small>Esarhaddon the Gracious</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-04</span>
										<span class="badge badge-pill badge-secondary">G-10</span>
									</div>
									<p class="text-muted mb-1"><small>Dark Magic Against Defense Against Dark Magic</small></p>
									<small>Shushushi Footsticker</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-05</span>
										<span class="badge badge-pill badge-secondary">G-07</span>
									</div>
									<p class="text-muted mb-1"><small>Modern Sand Castle Architecture</small></p>
									<small>Esarhaddon the Wisdomous</small>
								</li>
							</ul>
						</div>
					</div>

					<!--Fourth-->
					<div class="schedule-row">
						<div class="schedule-period col-1"><span>14:15-15:45</span></div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-04</span>
										<span class="badge badge-pill badge-secondary">G-03</span>
									</div>
									<p class="text-muted mb-1"><small>Applied Polyandry</small></p>
									<small>Shalmaneser the II</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-05</span>
										<span class="badge badge-pill badge-secondary">G-04</span>
									</div>
									<p class="text-muted mb-1"><small>DB Sanitation'); DROP TABLE students; --</small></p>
									<small>Nabonassar the Sneaky</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-01</span>
										<span class="badge badge-pill badge-secondary">G-05</span>
									</div>
									<p class="text-muted mb-1"><small>Demagoguery</small></p>
									<small>Esarhaddon the Wisdomous</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-05</span>
										<span class="badge badge-pill badge-secondary">G-04</span>
									</div>
									<p class="text-muted mb-1"><small>Dark Magic</small></p>
									<small>Esarhaddon the Gracious</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-03</span>
										<span class="badge badge-pill badge-secondary">G-05</span>
									</div>
									<p class="text-muted mb-1"><small>DB Sanitation'); DROP TABLE students; --</small></p>
									<small>Nabonassar the Sneaky</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-02</span>
										<span class="badge badge-pill badge-secondary">G-02</span>
									</div>
									<p class="text-muted mb-1"><small>Scientology</small></p>
									<small>Shalmaneser the II</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-03</span>
										<span class="badge badge-pill badge-secondary">G-06</span>
									</div>
									<p class="text-muted mb-1"><small>Dark Magic</small></p>
									<small>Esarhaddon the Gracious</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-01</span>
										<span class="badge badge-pill badge-secondary">G-09</span>
									</div>
									<p class="text-muted mb-1"><small>Scientology</small></p>
									<small>Shalmaneser the II</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-03</span>
										<span class="badge badge-pill badge-secondary">G-04</span>
									</div>
									<p class="text-muted mb-1"><small>Demagoguery</small></p>
									<small>Esarhaddon the Wisdomous</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-04</span>
										<span class="badge badge-pill badge-secondary">G-01</span>
									</div>
									<p class="text-muted mb-1"><small>Dark Magic</small></p>
									<small>Esarhaddon the Gracious</small>
								</li>
							</ul>
						</div>
					</div>

					<!--Fifth-->
					<div class="schedule-row">
						<div class="schedule-period col-1"><span>16:00-17:30</span></div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-02</span>
										<span class="badge badge-pill badge-secondary">G-06</span>
									</div>
									<p class="text-muted mb-1"><small>Dark Magic Against Defense Against Dark Magic</small></p>
									<small>Shushushi Footsticker</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-03</span>
										<span class="badge badge-pill badge-secondary">G-05</span>
									</div>
									<p class="text-muted mb-1"><small>Applied Polyandry</small></p>
									<small>Shalmaneser the II</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-05</span>
										<span class="badge badge-pill badge-secondary">G-09</span>
									</div>
									<p class="text-muted mb-1"><small>Demagoguery</small></p>
									<small>Esarhaddon the Wisdomous</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-03</span>
										<span class="badge badge-pill badge-secondary">G-01</span>
									</div>
									<p class="text-muted mb-1"><small>Demagoguery</small></p>
									<small>Esarhaddon the Wisdomous</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-04</span>
										<span class="badge badge-pill badge-secondary">G-09</span>
									</div>
									<p class="text-muted mb-1"><small>Dark Magic</small></p>
									<small>Esarhaddon the Gracious</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-01</span>
										<span class="badge badge-pill badge-secondary">G-10</span>
									</div>
									<p class="text-muted mb-1"><small>Demagoguery</small></p>
									<small>Esarhaddon the Wisdomous</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-02</span>
										<span class="badge badge-pill badge-secondary">G-01</span>
									</div>
									<p class="text-muted mb-1"><small>Procrastination101</small></p>
									<small>Nabonassar the Sneaky</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-04</span>
										<span class="badge badge-pill badge-secondary">G-09</span>
									</div>
									<p class="text-muted mb-1"><small>Procrastination101</small></p>
									<small>Shushushi Footsticker</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-04</span>
										<span class="badge badge-pill badge-secondary">G-03</span>
									</div>
									<p class="text-muted mb-1"><small>Demagoguery</small></p>
									<small>Esarhaddon the Wisdomous</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-05</span>
										<span class="badge badge-pill badge-secondary">G-07</span>
									</div>
									<p class="text-muted mb-1"><small>Applied Polyandry</small></p>
									<small>Shalmaneser the II</small>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
			<!--Even-->
			<div class="schedule-container shadow rounded">
				<div class="row schedule-background">
					<span class="col-12">E</span>
					<span class="col-12">v</span>
					<span class="col-12">e</span>
					<span class="col-12">n</span>
				</div>

				<div class="schedule-body">
					<!--First-->
					<div class="schedule-row">
						<div class="schedule-period col-1"><span>8:15-9:45</span></div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-02</span>
										<span class="badge badge-pill badge-secondary">G-02</span>
									</div>
									<p class="text-muted mb-1"><small>Dark Magic Against Defense Against Dark Magic</small></p>
									<small>Shushushi Footsticker</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-03</span>
										<span class="badge badge-pill badge-secondary">G-04</span>
									</div>
									<p class="text-muted mb-1"><small>Theoretical Camel Tracking</small></p>
									<small>Esarhaddon the Gracious</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-05</span>
										<span class="badge badge-pill badge-secondary">G-08</span>
									</div>
									<p class="text-muted mb-1"><small>Defense Against Dark Magic</small></p>
									<small>Nabonassar the Sneaky</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-04</span>
										<span class="badge badge-pill badge-secondary">G-01</span>
									</div>
									<p class="text-muted mb-1"><small>Scientology</small></p>
									<small>Shalmaneser the II</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-05</span>
										<span class="badge badge-pill badge-secondary">G-03</span>
									</div>
									<p class="text-muted mb-1"><small>DB Sanitation'); DROP TABLE students; --</small></p>
									<small>Nabonassar the Sneaky</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-05</span>
										<span class="badge badge-pill badge-secondary">G-03</span>
									</div>
									<p class="text-muted mb-1"><small>Dark Magic Against Defense Against Dark Magic</small></p>
									<small>Shushushi Footsticker</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-02</span>
										<span class="badge badge-pill badge-secondary">G-01</span>
									</div>
									<p class="text-muted mb-1"><small>DB Sanitation'); DROP TABLE students; --</small></p>
									<small>Nabonassar the Sneaky</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-04</span>
										<span class="badge badge-pill badge-secondary">G-09</span>
									</div>
									<p class="text-muted mb-1"><small>Applied Polyandry</small></p>
									<small>Shalmaneser the II</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-05</span>
										<span class="badge badge-pill badge-secondary">G-05</span>
									</div>
									<p class="text-muted mb-1"><small>Dark Magic Against Defense Against Dark Magic</small></p>
									<small>Shushushi Footsticker</small>
								</li>
							</ul>
						</div>
					</div>

					<!--Second-->
					<div class="schedule-row">
						<div class="schedule-period col-1"><span>10:00-11:30</span></div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-01</span>
										<span class="badge badge-pill badge-secondary">G-06</span>
									</div>
									<p class="text-muted mb-1"><small>Demagoguery</small></p>
									<small>Esarhaddon the Wisdomous</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-03</span>
										<span class="badge badge-pill badge-secondary">G-02</span>
									</div>
									<p class="text-muted mb-1"><small>DB Sanitation'); DROP TABLE students; --</small></p>
									<small>Nabonassar the Sneaky</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-04</span>
										<span class="badge badge-pill badge-secondary">G-10</span>
									</div>
									<p class="text-muted mb-1"><small>Scientology</small></p>
									<small>Shalmaneser the II</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-05</span>
										<span class="badge badge-pill badge-secondary">G-09</span>
									</div>
									<p class="text-muted mb-1"><small>Theoretical Camel Tracking </small></p>
									<small>Esarhaddon the Gracious</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-04</span>
										<span class="badge badge-pill badge-secondary">G-10</span>
									</div>
									<p class="text-muted mb-1"><small>Applied Polyandry</small></p>
									<small>Shalmaneser the II</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-05</span>
										<span class="badge badge-pill badge-secondary">G-07</span>
									</div>
									<p class="text-muted mb-1"><small>Demagoguery</small></p>
									<small>Esarhaddon the Wisdomous</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-04</span>
										<span class="badge badge-pill badge-secondary">G-04</span>
									</div>
									<p class="text-muted mb-1"><small>Modern Sand Castle Architecture</small></p>
									<small>Esarhaddon the Wisdomous</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-02</span>
										<span class="badge badge-pill badge-secondary">G-07</span>
									</div>
									<p class="text-muted mb-1"><small>Theoretical Camel Tracking</small></p>
									<small>Esarhaddon the Gracious</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-02</span>
										<span class="badge badge-pill badge-secondary">G-10</span>
									</div>
									<p class="text-muted mb-1"><small>Modern Sand Castle Architecture</small></p>
									<small>Esarhaddon the Wisdomous</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-03</span>
										<span class="badge badge-pill badge-secondary">G-03</span>
									</div>
									<p class="text-muted mb-1"><small>Dark Magic</small></p>
									<small>Esarhaddon the Gracious</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-05</span>
										<span class="badge badge-pill badge-secondary">G-07</span>
									</div>
									<p class="text-muted mb-1"><small>Defense Against Dark Magic</small></p>
									<small>Nabonassar the Sneaky</small>
								</li>
							</ul>
						</div>
					</div>

					<!--Third-->
					<div class="schedule-row">
						<div class="schedule-period col-1"><span>12:30-14:00</span></div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-03</span>
										<span class="badge badge-pill badge-secondary">G-03</span>
									</div>
									<p class="text-muted mb-1"><small>Defense Against Dark Magic</small></p>
									<small>Nabonassar the Sneaky</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-05</span>
										<span class="badge badge-pill badge-secondary">G-02</span>
									</div>
									<p class="text-muted mb-1"><small>Procrastination101</small></p>
									<small>Shushushi Footsticker</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-01</span>
										<span class="badge badge-pill badge-secondary">G-08</span>
									</div>
									<p class="text-muted mb-1"><small>DB Sanitation'); DROP TABLE students; --</small></p>
									<small>Nabonassar the Sneaky</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-04</span>
										<span class="badge badge-pill badge-secondary">G-05</span>
									</div>
									<p class="text-muted mb-1"><small>Modern Sand Castle Architecture</small></p>
									<small>Esarhaddon the Wisdomous</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-01</span>
										<span class="badge badge-pill badge-secondary">G-08</span>
									</div>
									<p class="text-muted mb-1"><small>Dark Magic Against Defense Against Dark Magic</small></p>
									<small>Shushushi Footsticker</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-02</span>
										<span class="badge badge-pill badge-secondary">G-02</span>
									</div>
									<p class="text-muted mb-1"><small>Defense Against Dark Magic</small></p>
									<small>Nabonassar the Sneaky</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-04</span>
										<span class="badge badge-pill badge-secondary">G-08</span>
									</div>
									<p class="text-muted mb-1"><small>Modern Sand Castle Architecture</small></p>
									<small>Esarhaddon the Wisdomous</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-05</span>
										<span class="badge badge-pill badge-secondary">G-05</span>
									</div>
									<p class="text-muted mb-1"><small>Scientology</small></p>
									<small>Shalmaneser the II</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-01</span>
										<span class="badge badge-pill badge-secondary">G-02</span>
									</div>
									<p class="text-muted mb-1"><small>Dark Magic</small></p>
									<small>Esarhaddon the Gracious</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-04</span>
										<span class="badge badge-pill badge-secondary">G-10</span>
									</div>
									<p class="text-muted mb-1"><small>Dark Magic Against Defense Against Dark Magic</small></p>
									<small>Shushushi Footsticker</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-05</span>
										<span class="badge badge-pill badge-secondary">G-07</span>
									</div>
									<p class="text-muted mb-1"><small>Modern Sand Castle Architecture</small></p>
									<small>Esarhaddon the Wisdomous</small>
								</li>
							</ul>
						</div>
					</div>

					<!--Fourth-->
					<div class="schedule-row">
						<div class="schedule-period col-1"><span>14:15-15:45</span></div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-04</span>
										<span class="badge badge-pill badge-secondary">G-03</span>
									</div>
									<p class="text-muted mb-1"><small>Applied Polyandry</small></p>
									<small>Shalmaneser the II</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-05</span>
										<span class="badge badge-pill badge-secondary">G-04</span>
									</div>
									<p class="text-muted mb-1"><small>DB Sanitation'); DROP TABLE students; --</small></p>
									<small>Nabonassar the Sneaky</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-01</span>
										<span class="badge badge-pill badge-secondary">G-05</span>
									</div>
									<p class="text-muted mb-1"><small>Demagoguery</small></p>
									<small>Esarhaddon the Wisdomous</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-05</span>
										<span class="badge badge-pill badge-secondary">G-04</span>
									</div>
									<p class="text-muted mb-1"><small>Dark Magic</small></p>
									<small>Esarhaddon the Gracious</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-03</span>
										<span class="badge badge-pill badge-secondary">G-05</span>
									</div>
									<p class="text-muted mb-1"><small>DB Sanitation'); DROP TABLE students; --</small></p>
									<small>Nabonassar the Sneaky</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-02</span>
										<span class="badge badge-pill badge-secondary">G-02</span>
									</div>
									<p class="text-muted mb-1"><small>Scientology</small></p>
									<small>Shalmaneser the II</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-03</span>
										<span class="badge badge-pill badge-secondary">G-06</span>
									</div>
									<p class="text-muted mb-1"><small>Dark Magic</small></p>
									<small>Esarhaddon the Gracious</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-01</span>
										<span class="badge badge-pill badge-secondary">G-09</span>
									</div>
									<p class="text-muted mb-1"><small>Scientology</small></p>
									<small>Shalmaneser the II</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-03</span>
										<span class="badge badge-pill badge-secondary">G-04</span>
									</div>
									<p class="text-muted mb-1"><small>Demagoguery</small></p>
									<small>Esarhaddon the Wisdomous</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-04</span>
										<span class="badge badge-pill badge-secondary">G-01</span>
									</div>
									<p class="text-muted mb-1"><small>Dark Magic</small></p>
									<small>Esarhaddon the Gracious</small>
								</li>
							</ul>
						</div>
					</div>

					<!--Fifth-->
					<div class="schedule-row">
						<div class="schedule-period col-1"><span>16:00-17:30</span></div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-02</span>
										<span class="badge badge-pill badge-secondary">G-06</span>
									</div>
									<p class="text-muted mb-1"><small>Dark Magic Against Defense Against Dark Magic</small></p>
									<small>Shushushi Footsticker</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-03</span>
										<span class="badge badge-pill badge-secondary">G-05</span>
									</div>
									<p class="text-muted mb-1"><small>Applied Polyandry</small></p>
									<small>Shalmaneser the II</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-05</span>
										<span class="badge badge-pill badge-secondary">G-09</span>
									</div>
									<p class="text-muted mb-1"><small>Demagoguery</small></p>
									<small>Esarhaddon the Wisdomous</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-03</span>
										<span class="badge badge-pill badge-secondary">G-01</span>
									</div>
									<p class="text-muted mb-1"><small>Demagoguery</small></p>
									<small>Esarhaddon the Wisdomous</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-04</span>
										<span class="badge badge-pill badge-secondary">G-09</span>
									</div>
									<p class="text-muted mb-1"><small>Dark Magic</small></p>
									<small>Esarhaddon the Gracious</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-01</span>
										<span class="badge badge-pill badge-secondary">G-10</span>
									</div>
									<p class="text-muted mb-1"><small>Demagoguery</small></p>
									<small>Esarhaddon the Wisdomous</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-02</span>
										<span class="badge badge-pill badge-secondary">G-01</span>
									</div>
									<p class="text-muted mb-1"><small>Procrastination101</small></p>
									<small>Nabonassar the Sneaky</small>
								</li>
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-04</span>
										<span class="badge badge-pill badge-secondary">G-09</span>
									</div>
									<p class="text-muted mb-1"><small>Procrastination101</small></p>
									<small>Shushushi Footsticker</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-04</span>
										<span class="badge badge-pill badge-secondary">G-03</span>
									</div>
									<p class="text-muted mb-1"><small>Demagoguery</small></p>
									<small>Esarhaddon the Wisdomous</small>
								</li>
							</ul>
						</div>
						<div class="schedule col px-1">
							<ul class="list-group">
								<li class="list-group-item align-items-center">
									<div class="d-flex justify-content-between mb-1">
										<span class="badge badge-pill badge-primary">A-05</span>
										<span class="badge badge-pill badge-secondary">G-07</span>
									</div>
									<p class="text-muted mb-1"><small>Applied Polyandry</small></p>
									<small>Shalmaneser the II</small>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>



</body>
</html>