<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header(~{::title})">
	<title>Management: Faculty</title>
</head>
<body>

<!-- Drop course form modal -->
<div class="modal fade" id="drop-course-modal" tabindex="-1" role="dialog"
     aria-labelledby="drop-course-label" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">

			<!--Header-->
			<div class="modal-header">
				<h5 id="drop-course-label" class="modal-title">
					<i class="fas fa-backspace"></i>
					Drop course confirmation
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<!--Body-->
			<div class="modal-body">
				<h3>
					Drop course
					<span id="drop-course-title">course name</span>
					?
				</h3>
				<br>

				<form class="needs-validation" action="#" th:action="@{/management/university/faculty/courses/drop}"
				      th:object="${dropCourseForm}" method="post" novalidate>

					<input type="hidden" id="drop-course-professor-id" name="professorId" value="" th:field="*{professorId}">
					<input type="hidden" id="drop-course-course-id" name="courseId" value="" th:field="*{courseId}">

					<!--Submit-->

					<div class="modal-footer">
						<button type="submit" class="btn btn-outline-primary">Confirm</button>
					</div>

				</form>
			</div>
		</div>

	</div>
</div>

<!-- Add course form modal -->
<div class="modal fade" id="add-course-modal" tabindex="-1" role="dialog"
     aria-labelledby="change-group-label" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">

			<!--Header-->
			<div class="modal-header">
				<h5 id="add-course-label" class="modal-title">
					<i class="fas fa-plus-circle"></i>
					Add course
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<!--Body-->
			<div class="modal-body">
				<h4 th:text="${professor.fullName}">Professor</h4>
				<br>

				<form class="needs-validation" action="#" th:action="@{/timetable/management/university/faculty/courses/add}"
				      th:object="${addCourseForm}" method="post" novalidate>

					<div class="container">

						<div class="form-group row align-items-center">
							<label class="form-control-label col-sm-4" for="new-course">New course:</label>
							<div class="col-sm-8">
								<select class="custom-select" id="new-course" name="newCourse" required>
									<option value="" hidden disabled selected>Select new course...</option>
									<option th:each="course : *{newCourses}" value="1" th:value="${course.id}"
									        th:text="${course.name}">
										G-01
									</option>
								</select>
								<div class="invalid-feedback">Course required</div>
							</div>
						</div>

						<input type="hidden" id="add-course-professor-id" name="professorId" value="" th:value="${professor.id}">

						<!--Submit-->

						<div class="modal-footer">
							<button type="submit" class="btn btn-outline-primary">Add</button>
						</div>

					</div>
				</form>
			</div>

		</div>
	</div>
</div>

<div th:replace="layout :: scheduleFormManagement"></div>

<div th:replace="layout :: navbar"></div>

<div class="container">
	<div class="row align-items-center">
		<div class="col">

			<a href="#" th:href="@{/timetable/management/university/faculty}" class="btn btn-outline-secondary btn-sm mb-3">
				<i class="fas fa-angle-left"></i>
				Back
			</a>

			<!-- Alert Success -->
			<div th:if="${!successAlert.isEmpty()}" class="alert alert-dismissible alert-success">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<h4 class="alert-heading">
					<i class="fas fa-check-circle"></i>
					Done!
				</h4>
				<p th:text="${successAlert}" class="mb-0">Message</p>
			</div>

			<h1>
				<span th:text="|${professor.fullName} courses:|">Professor courses:</span>
				<span type="button" class="text-body ml-4" data-toggle="modal" data-target="#add-course-modal">
					<h3 class="fas fa-plus-circle icon-hover" data-toggle="tooltip" data-placement="right" data-container="body"
					    title="Add new course"></h3>
				</span>
			</h1>

			<hr class="my-3">
			<p class="text-muted">Click on course name to view attendees</p>

			<p th:if="${allCourseAttendees.isEmpty()}" class="text-warning">No courses to show</p>

			<!-- List of courses -->
			<div th:unless="${allCourseAttendees.isEmpty()}" class="accordion shadow mb-3" id="courseList">

				<div th:each="courseAttendees : ${allCourseAttendees}">
					<div class="schedule-row no-border">

						<button class="col list-group-item list-group-item-action btn" id="course1"
						        th:classappend="*{courseAttendees.key.id.toString() == editedId}? 'btn-success'"
						        th:id="'course' + *{courseAttendees.key.id}"
						        type="button"
						        data-toggle="collapse"
						        data-target="#studentsCourse1"
						        aria-controls="studentsCourse1"
						        th:attr="data-target='#studentsCourse' + *{courseAttendees.key.id},
					                 aria-controls='studentsCourse' + *{courseAttendees.key.id}">
							<span th:text="*{courseAttendees.key.name}">Course</span>
							<small th:text="|(*{courseAttendees.value.size()} attendees)|" class="text-muted ml-4">(300
								attendees)</small>
						</button>

						<button type="button" class="btn btn-outline-danger toggle-button" data-toggle="modal"
						        data-target="#drop-course-modal" data-title="Course" data-professor-id="1" data-course-id="9"
						        th:attr="data-title=*{courseAttendees.key.name}, data-professor-id=${professor.id},
														 data-course-id=*{courseAttendees.key.id}">
							Drop course
						</button>
					</div>

					<div id="studentsCourse1" th:id="'studentsCourse' + *{courseAttendees.key.id}"
					     class="collapse course-attendees-container list-group"
					     aria-labelledby="course1" th:attr="aria-labelledby='course' + *{courseAttendees.key.id}"
					     data-parent="#courseList">

						<div class="schedule-row no-border my-2">

							<div class="col-6" th:each="student : ${courseAttendees.value}">

								<div class="list-group-item d-flex justify-content-between">
									<div>
										<span th:text="|ID: *{student.id}|" class="badge badge-pill badge-light">ID: 1</span>
										<span th:text="*{student.fullName}" class="pl-2">Name One</span>
									</div>
									<div>
										<span th:text="*{student.group.name}" class="badge badge-pill badge-secondary">G-01</span>
									</div>
								</div>

							</div>

						</div>

					</div>
				</div>

			</div>

		</div>
	</div>
</div>

<div th:replace="layout :: scripts"></div>

</body>
</html>