<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header(~{::title})">
	<title>University: Students</title>
</head>
<body>

<!-- Change group form modal -->
<div aria-hidden="true" aria-labelledby="change-group-label" class="modal fade" id="change-group-modal"
     role="dialog" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">

			<!--Header-->
			<div class="modal-header">
				<h5 class="modal-title" id="change-group-label">
					<i class="fas fa-edit"></i>
					Change group
				</h5>
				<button aria-label="Close" class="close" data-dismiss="modal" type="button">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<!--Body-->
			<div class="modal-body">
				<h4 id="change-group-title">Student</h4>
				<br>

				<form action="#" class="needs-validation" method="post"
				      novalidate th:action="@{/timetable/management/university/students/change/group}"
				      th:object="${changeGroupForm}">

					<div class="container">

						<div class="form-group row align-items-center">
							<label class="form-control-label col-sm-4" for="new-group">New group:</label>
							<div class="col-sm-8">
								<select class="custom-select" id="new-group" name="newGroupId" required>
									<option disabled hidden selected value="">Select new group...</option>
									<option th:each="group : *{groups}" th:text="${group.name}" th:value="${group.id}" value="1">G-01
									</option>
								</select>
								<div class="invalid-feedback">Group required</div>
							</div>
						</div>

						<input id="change-group-student-id" name="studentId" type="hidden" value="">

						<!--Submit-->

						<div class="modal-footer">
							<button class="btn btn-outline-primary" type="submit">Submit</button>
						</div>

					</div>
				</form>
			</div>

		</div>
	</div>
</div>

<!-- New student form modal -->
<div aria-hidden="true" aria-labelledby="new-student-label" class="modal fade" id="new-student-modal"
     role="dialog" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">

			<!--Header-->
			<div class="modal-header">
				<h5 class="modal-title" id="new-student-label">
					<i class="fas fa-plus-circle"></i>
					Add new student
				</h5>
				<button aria-label="Close" class="close" data-dismiss="modal" type="button">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<!--Body-->
			<div class="modal-body">

				<form action="" class="needs-validation" method="post"
				      novalidate th:action="@{/timetable/management/university/students/new}" th:object="${newStudentForm}">

					<div class="container">

						<div class="form-group row align-items-center">
							<label class="form-control-label col-sm-4" for="first-name">First name:</label>
							<div class="col-sm-8">
								<input class="form-control" id="first-name" name="firstName" placeholder="Enter first name..."
								       required th:field="*{firstName}" type="text">
								<div class="invalid-feedback">First name required</div>
							</div>
						</div>

						<div class="form-group row align-items-center">
							<label class="form-control-label col-sm-4" for="last-name">Last name:</label>
							<div class="col-sm-8">
								<input class="form-control" id="last-name" name="lastName" placeholder="Enter last name..." required
								       th:field="*{lastName}" type="text">
								<div class="invalid-feedback">Last name required</div>
							</div>
						</div>

						<div class="form-group row align-items-center">
							<label class="form-control-label col-sm-4" for="group-id-new-student">Group:</label>
							<div class="col-sm-8">
								<select class="custom-select" id="group-id-new-student" name="groupId" required>
									<option disabled hidden selected value="">Select group...</option>
									<option th:each="group : *{groups}" th:text="${group.name}" th:value="${group.id}">
										G-01
									</option>
								</select>
								<div class="invalid-feedback">Group required</div>
							</div>
						</div>

						<!--Submit-->

						<div class="modal-footer">
							<button class="btn btn-outline-primary" type="submit">Join the club!</button>
						</div>

					</div>
				</form>
			</div>

		</div>
	</div>
</div>

<div th:replace="layout :: deleteModal"></div>

<div th:replace="layout :: scheduleFormFilterManagement"></div>

<div th:replace="layout :: scheduleFormManagement"></div>

<div th:replace="layout :: navbar"></div>

<div class="container">
	<div class="row align-items-center">
		<div class="col">

			<!-- Alert Success -->
			<div class="alert alert-dismissible alert-success" th:if="${!successAlert.isEmpty()}">
				<button class="close" data-dismiss="alert" type="button">&times;</button>
				<h4 class="alert-heading">
					<i class="fas fa-check-circle"></i>
					Done!
				</h4>
				<p class="mb-0" th:text="${successAlert}">Message</p>
			</div>

			<!-- Alert Error -->
			<div class="alert alert-dismissible alert-danger" th:if="${!errorAlert.isEmpty()}">
				<button class="close" data-dismiss="alert" type="button">&times;</button>
				<h4 class="alert-heading">
					<i class="fas fa-exclamation-circle"></i>
					Error!
				</h4>
				<p class="mb-0" th:text="${errorAlert}">Message</p>
			</div>

			<h1>Students
				<span class="text-body ml-4" data-target="#new-student-modal" data-toggle="modal" type="button">
					<h3 class="fas fa-plus-circle icon-hover" data-container="body" data-placement="right" data-toggle="tooltip"
					    title="Add new student"></h3>
				</span>
			</h1>
			<p class="text-muted">Hover over each student to see additional options</p>

			<!-- List of students -->
			<div class="student-select-container shadow">
				<div class="list-group">

					<!-- Each student	-->
					<div class="schedule-row no-border" th:each="student : ${students}">

						<div class="col list-group-item d-flex justify-content-between"
						     th:classappend="${student.id.toString() == editedId}? 'btn-success'">

							<div>
								<span class="badge badge-pill badge-light" th:text="'ID: ' + *{student.id}">ID: 1</span>
								<span class="pl-2" th:text="*{student.fullName}">Name One</span>
							</div>
							<div>
								<span class="badge badge-pill badge-secondary" th:text="*{student.group.name}">G-01
								</span>
							</div>
						</div>

						<button class="btn btn-outline-secondary toggle-button" data-id="1" data-target="#filtered-schedule-modal"
						        data-title="Name One (G-01)" data-toggle="modal" th:attr="data-title=${student.fullName} + ' (' + ${student.group.name} + ')',
						        data-id=${student.group.id}"
						        type="button">
							View schedule
						</button>

						<button class="btn btn-outline-warning toggle-button" data-group-id="1" data-student-id="1"
						        data-target="#change-group-modal" data-title="Name One (G-01)" data-toggle="modal"
						        th:attr="data-title=${student.fullName} + ' (' + ${student.group.name} + ')',
						        data-student-id=${student.id},
						        data-group-id=${student.group.id}"
						        type="button">
							Change group
						</button>

						<button class="btn btn-outline-danger toggle-button" data-delete-id="1" data-target="#delete-modal"
						        data-title="Name One" data-toggle="modal"
						        th:attr="data-title=${student.fullName}, data-delete-id=${student.id}"
						        type="button">
							Delete
						</button>

					</div>

				</div>
			</div>

			<div class="my-3 text-muted">All active students</div>

		</div>
	</div>
</div>

<div th:replace="layout :: scripts"></div>

</body>
</html>