<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include
            resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="LOG_PATH" value="var/logs"/>
    <property name="LOG_FILE" value="session.log"/>

    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                ${CONSOLE_LOG_PATTERN}
            </Pattern>
        </encoder>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/${LOG_FILE}</file>
        <append>false</append>
        <encoder>
            <Pattern>${FILE_LOG_PATTERN}</Pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="com.foxminded.timetable" level="debug"/>

</configuration>