<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header(~{::title})">
	<title>Management: Schedule</title>
</head>
<body>

<div th:replace="layout :: scheduleFormManagement"></div>

<div th:replace="layout :: navbar"></div>

<div class="container">
	<div class="row align-items-center">
		<div class="col">

			<p class="text-warning" th:text="${message}">Successfully rescheduled!</p>
			<h2>Affected schedules:</h2>
			<hr class="my-2">

			<table class="table table-hover table-striped shadow">
				<caption>Rescheduling changes</caption>
				<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Date</th>
					<th scope="col">Day</th>
					<th scope="col">Period</th>
					<th scope="col">Auditorium</th>
					<th scope="col">Course</th>
					<th scope="col">Group</th>
					<th scope="col">Professor</th>
				</tr>
				</thead>
				<tbody class="text-body">
				<tr>
					<td colspan="8">Initial schedule item:</td>
				</tr>
				<tr class="table-dark">
					<th scope="row" th:text="${initial.id}">123</th>
					<td th:text="${@semesterCalendar.getDayDescription(initial.date)}">Jan 01, 2020</td>
					<td th:text="${initial.day.toString()}">Monday</td>
					<td th:text="${initial.period.toString()}">FIRST 08:15-09:45</td>
					<td th:text="${initial.auditorium.name}">A-01</td>
					<td th:text="${initial.course.name}">Dark Magic Against Defense Against Dark Magic</td>
					<td th:text="${initial.group.name}">G-01</td>
					<td th:text="${initial.professor.fullName}">Professor Name</td>
				</tr>
				<tr>
					<td colspan="8">After rescheduling:</td>
				</tr>
				<tr th:each="schedule : ${affected}">
					<th scope="row" th:text="*{schedule.id}">123</th>
					<td th:text="*{@semesterCalendar.getDayDescription(schedule.date)}">Jan 01, 2020</td>
					<td th:text="*{schedule.day.toString()}">Monday</td>
					<td th:text="*{schedule.period.toString()}">FIRST 08:15-09:45</td>
					<td th:text="*{schedule.auditorium.name}">A-01</td>
					<td th:text="*{schedule.course.name}">Dark Magic Against Defense Against Dark Magic</td>
					<td th:text="*{schedule.group.name}">G-01</td>
					<td th:text="*{schedule.professor.fullName}">Professor Name</td>
				</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>

<div th:replace="layout :: scripts"></div>

</body>
</html>