<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header(~{::title})">
	<title>Professor: Schedule</title>
</head>
<body>

<div th:replace="layout :: scheduleFormFilter"></div>

<div th:replace="layout :: navbar"></div>

<div class="container">
	<div class="row align-items-center">
		<div class="col">

			<h1 th:text="${session.professor.fullName}">Hello, professor!</h1>

			<hr class="my-4">

			<h1 th:text="${scheduleForm.filtered}? 'Your schedule' : 'Entire schedule'">Schedule</h1>
			<h6 th:text="'Month of ' + ${monthSchedule.monthDescription}">For week ...</h6>
			<p class="text-warning" th:text="${monthSchedule.weekSchedules.isEmpty()}? 'No classes!' : _"></p>
			<br>

			<div th:replace="layout :: monthSchedule"></div>

		</div>
	</div>
</div>

<div th:replace="layout :: scripts"></div>

</body>
</html>